body {
    background-color: #C2EFD4 !important;
}
.navbar {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 500;
}

.nav-item {
    margin: 35px 10px;
}

.nav-item  a{
    color: #224F34;
}

#login {
    border: 2px solid #224F34;
    border-radius: 3px;
    padding: 5px 30px;
}

.img-icon {
    padding-top: 8px;
}

#intro {
    padding-top: 80px;
    padding-bottom: 100px;
}

#img-group{
   padding-left: 50px;
}

#intro h1 {
    font-weight: 700;
    font-size: 86px;
    color:  #224F34;
    font-family: 'Rufina', serif;
}

#intro p {
    font-weight: 500;
    font-size: 24px;
    color:  #267D49;
    font-family: 'Poppins', sans-serif;
    line-height: 2.5 !important;
    margin-right: 70px;
    padding: 20px 0px;
}

#intro .btn {
    background-color: #224F34;
    padding: 15px 55px;
    border-radius: 0;
    box-shadow:  10px 5px 20px rgba(0, 0, 0, 0.4);
}

#shop {
    padding-top: 50px;
    background-color: white;
}

.bi-star-fill {
    color: #F5D426;
}